* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.h1, .p, .a {font-family: 'Kanit', sans-serif;
    color: white;
}

.btn {
    width: 150px;
    height: 55px;
}

.col2 {
    width: 50%;
    height: 60%;
}