@font-face {
  font-family: "SFProDisplayBlackItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBLACKITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayBold"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("otf");

  font-family: "SFProDisplayHeavyItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYHEAVYITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayMedium"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF") format("otf");

  font-family: "SFProDisplayRegular"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF") format("otf");

  font-family: "SFProDisplaySemiBoldItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYSEMIBOLDITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayThinItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYTHINITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");
}

:root {
  --clr-primary-100: #ffe181;
  --clr-primary-400: #ffc300;
  --clr-primary-900: #ff5a00;

  --clr-secondary: #003c97;

  --clr-grey: #00000080;
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-dark500: #00000055;
  --clr-dark100: #00000095;

  --ff-primary: "Kanit", sans-serif;
  --ff-secondary: "SFProDisplayRegular", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 300;
  --fw-semi-bold: 500;
  --fw-bold: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
  line-height: 1.5;
}

body {
  background-color: black;
}

.safezone {
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.safezone .bg_grad {
  position: absolute;
  width: 101%;
  height: 101%;
  z-index: -5;
  object-fit: cover;
}

h1,
p,
a {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  text-decoration: none;
  color: var(--clr-light);
}

.safezone .Navbar {
  z-index: 10;
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.safezone .Navbar .logo {
  width: 70px;
  height: auto;
  margin-right: 30px;
}

.safezone .Navbar .li {
  width: 250px;
}

.safezone .Navbar .li a {
  font-size: 18px;
  color: var(--clr-light);
}

.safezone .Navbar .li a:hover {
  color: var(--clr-primary-100);
}

.safezone .Navbar .li a:nth-child(1) {
  color: var(--clr-primary-100);
}

.safezone .Navbar .ul {
  display: inline-flex;
  flex-direction: row;
}

.safezone .Navbar .ul .btn-flat {
  background-color: var(--clr-primary-400);
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 20px;
}

.safezone .Navbar .ul .btn-flat:hover {
  background-color: var(--clr-primary-100);
  cursor: pointer;
  box-shadow: #ffc4005b 0px 0px 25px 5px;
}

.safezone .Navbar .ul .btn-line {
  width: 110px;
  height: 40px;
  background-color: transparent;
  margin-right: 15px;
  border-radius: 20px;
  border: 2px solid var(--clr-primary-400);
}

.safezone .Navbar .ul .btn-flat p,
.safezone .Navbar .ul .btn-line p {
  color: var(--clr-dark);
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-primary);
}

.safezone .Navbar .ul .btn-flat:hover p {
  color: var(--clr-dark100);
}

.safezone .Navbar .ul .btn-line p {
  color: var(--clr-light);
}

.safezone .Navbar .ul .btn-line:hover {
  background-color: var(--clr-primary-400);
  cursor: pointer;
}

.safezone .Navbar .ul .btn-flat .holding,
.safezone .Navbar .ul .btn-line .holding {
  align-items: center;
  justify-self: center;
  align-content: center;
  display: inline-flex;
}

.safezone .Navbar .ul .btn-line .holding svg {
  margin-right: 8px;
  fill: var(--clr-light);
}

.safezone .Navbar .ul .btn-line:hover * {
  color: var(--clr-dark100);
  fill: var(--clr-dark100);
}

.safezone .Navbar .li {
  width: 100vh;
  height: auto;
  justify-content: space-evenly;
  display: flex;
}

.btn-curso,
.btn-pack {
  width: 150px;
  height: 55px;
  background-color: yellow;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.btn-curso p,
.btn-pack p {
  font-size: 22px;
  color: black;
}

.hero {
  height: 100vh;
  margin-top: -120px;
}

.hero .row {
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: inline-flex;
  margin: 0px 0px 0px 150px;
}

.hero .row .col1 {
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  height: 100vh;
  width: 40%;
}

.hero .row .col1 .col {
  margin-top: 30px;
}

.hero .row .col2 {
  height: 100vh;
  width: 60%;
}
