* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #000000;
}

.h1 .p .a {
    color: white;
}

.btn {
    width: 150px;
    height: 55px;
}

.3d-asset {
    width: 70%;
    height: 70%;
}