*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Kanit', sans-serif;
    background-color: #0000;
    color: #0000;
}
.htlm {
    background-color: #0000;
    color: #0000;
}
