@font-face {
  font-family: "SFProDisplayBlackItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBLACKITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayBold"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("otf");

  font-family: "SFProDisplayHeavyItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYHEAVYITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayMedium"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF") format("otf");

  font-family: "SFProDisplayRegular"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF") format("otf");

  font-family: "SFProDisplaySemiBoldItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYSEMIBOLDITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayThinItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYTHINITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");
}

:root {
  --clr-primary-100: #ffe181;
  --clr-primary-400: #ffc300;
  --clr-primary-900: #ff5a00;

  --clr-secondary: #003c97;

  --clr-grey: #ffffff90;
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-dark500: #00000055;
  --clr-dark100: #00000095;

  --ff-primary: "Kanit", sans-serif;
  --ff-secondary: "SFProDisplayRegular", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 300;
  --fw-medium: 500;
  --fw-semi-bold: 700;
  --fw-bold: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

html,
body {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
  line-height: 1.5;
}
