:root {
  --clr-primary-400: #ffc300;
  --clr-primary-200: #ff5a00;

  --clr-secondary: #003c97;

  --clr-grey: #00000080;
  --clr-light: #fff;
  --clr-dark: #000;

  --ff-primary: "Kanit", sans-serif;
  --ff-secondary: "assets/fonts/SF Pro Display/";

  --fw-regular: 300;
  --fw-regular: 500;
  --fw-regular: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

html,
body {
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
  line-height: 1.5;
}

.safezone {
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.safezone .bg_grad {
  position: absolute;
  width: 101%;
  height: 101%;
  z-index: -1;
  object-fit: cover;
}

h1,
p,
a {
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  color: white;
}

.Navbar {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Navbar .logo {
  width: 70px;
  height: auto;
  margin-right: 30px;
}

.Navbar .ul {
  display: inline-flex;
  flex-direction: row;
}

.Navbar .ul .btn {
  background-color: yellow;
  width: 65px;
  height: 30px;
  margin-left: 20px;
}
.Navbar .ul .btn p {
  color: black;
}

.Navbar .li {
  width: 100vh;
  height: auto;
  justify-content: space-evenly;
  display: flex;
}

.btn-curso,
.btn-pack {
  width: 150px;
  height: 55px;
  background-color: yellow;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.btn-curso p,
.btn-pack p {
  font-size: 22px;
  color: black;
}

.hero {
  height: 100vh;
  margin-top: -120px;
}

.hero .row {
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: inline-flex;
  margin: 0px 0px 0px 150px;
}

.hero .row .col1 {
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  height: 100vh;
  width: 40%;
}

.hero .row .col1 .col {
  margin-top: 30px;
}

.hero .row .col2 {
  height: 100vh;
  width: 60%;
}
