@font-face {
  font-family: "SFProDisplayBlackItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBLACKITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayBold"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("otf");

  font-family: "SFProDisplayHeavyItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYHEAVYITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayMedium"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF") format("otf");

  font-family: "SFProDisplayRegular"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF") format("otf");

  font-family: "SFProDisplaySemiBoldItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYSEMIBOLDITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayThinItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYTHINITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");
}

/* General Classes */

:root {
  --clr-primary-100: #ffe181;
  --clr-primary-400: #ffc300;
  --clr-primary-900: #ff5a00;

  --clr-secondary: #003c97;

  --clr-grey: #ffffff90;
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-dark500: #00000055;
  --clr-dark100: #00000095;

  --ff-primary: "Kanit", sans-serif;
  --ff-secondary: "SFProDisplayRegular", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 300;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 900;

  --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-350: 1.75rem;
  --fs-400: 2rem;
  --fs-500: 2.5rem;
  --fs-600: 3rem;
  --fs-700: 4rem;
  --fs-800: 5rem;
  --fs-900: 6rem;

  --size100: 0.25rem;
  --size150: 0.375rem;
  --size200: 0.5rem;
  --size250: 0.625rem;
  --size300: 0.75rem;
  --size350: 0.8rem;
  --size400: 1rem;
  --size500: 1.5rem;
  --size600: 2rem;
  --size700: 3rem;
  --size800: 4rem;
  --size900: 5rem;
}

/* General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

.bg_grad {
  z-index: -999;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg_grad img {
  transform: translateX(-1px);
  left: 0;
  position: absolute;
  background-size: cover;
  width: 107%;
  height: 100%;
}

body {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
  line-height: 1.75;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-body);
}

.container {
  --max-width: 1110px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 2em);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

.fs-primary-heading {
  font-size: var(--fs-600);
  line-height: 2.65rem;
  width: 15ch;
}

.fs-secondary-heading {
  font-size: var(--fs-100);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.clamp-block {
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

/* CSS - General */

spam {
  color: var(--clr-primary-400);
}

section {
  padding-block: var(--size400);
}

p {
  width: 45ch;
  font-weight: var(--fw-regular);
  color: var(--clr-grey);
  font-family: var(--ff-body);
}

button img {
  width: var(--size150);
}

header * {
  z-index: 999;
}

.primary-header {
  margin-top: var(--size500);
  width: 100%;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  align-content: center;
  display: flex;
}

.nav-list {
  display: inline-flex;
  flex-direction: row;
  gap: var(--size600);
}

.nav-list li a:hover {
  color: var(--clr-primary-100);
}

.model-rotate {
  padding-top: 40px;
  position: absolute;
  width: 80vh;
  height: 90vh;
  top: 0px;
  right: 100px;
}

button i {
  margin-right: var(--size150);
}

button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-block: var(--size200);
  padding-inline: var(--size500);
  border: 2px solid var(--clr-primary-400);
  border-radius: 100vw;
  color: var(--clr-light);
  background-color: var(--clr-primary-400);
}

button > i {
  gap: var(--size200);
}

button:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 2px solid var(--clr-light);
}

button.btn-line i {
  color: var(--clr-primary-400);
}

button.btn-line:hover i {
  color: var(--clr-light);
}

button.btn-line {
  background-color: transparent;
  color: var(--clr-light);
  border: 2px solid var(--clr-primary-400);
}

.btn-line:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-light);
}

button[data-type="no-border"] {
  border: none;
}

button[data-type="no-border"] i {
  color: var(--clr-light);
  margin-inline: var(--size100);
}

button[data-type="no-border"]:hover,
button[data-type="no-border"]:hover i {
  color: var(--clr-primary-400);
  background-color: transparent;
}

.left-hero {
  margin-top: 100px;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.md-class {
  flex-direction: column;
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
}

.md-class * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
}

.md-class .text-align h1 {
  letter-spacing: 0.4rem;
  font-size: var(--fs-350);
  font-weight: var(--fw-regular);
}

.md-class img {
  cursor: pointer;
  margin-top: var(--size200);
  width: 35px;
  height: 35px;
  opacity: 0.333;
  transition: 0.25s ease-in-out;
}

.md-class img:hover {
  opacity: 1;
}

.card-section {
  padding-top: var(--size900);
}

.card-list {
  width: 100vh;
  display: flex;
}

.card-list li {
  list-style-type: none;
}

.placeholder-video {
  width: 70vh;
  height: 400px;
  background-color: pink;
}
