@font-face {
  font-family: "SFProDisplayBlackItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBLACKITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayBold"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("otf");

  font-family: "SFProDisplayHeavyItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYHEAVYITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayMedium"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF") format("otf");

  font-family: "SFProDisplayRegular"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF") format("otf");

  font-family: "SFProDisplaySemiBoldItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYSEMIBOLDITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayThinItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYTHINITALIC.OTF")
    format("otf");

  font-family: "SFProDisplayLightItalic"; /* Nome que você dará à fonte */
  src: url("./assets/fonts/SFProDisplay/SFPRODISPLAYLIGHTITALIC.OTF")
    format("otf");
}

/* General Classes */

:root {
  --clr-primary-100: #ffe181;
  --clr-primary-400: #ffc300;
  --clr-primary-900: #ff5a00;

  --clr-secondary: #003c97;

  --clr-grey: #ffffff90;
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-dark500: #00000055;
  --clr-dark100: #00000095;

  --ff-primary: "Kanit", sans-serif;
  --ff-secondary: "SFProDisplayRegular", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 300;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-400: 2rem;
  --fs-500: 2.5rem;
  --fs-600: 3rem;
  --fs-700: 4rem;
  --fs-800: 5rem;
  --fs-900: 6rem;

  --size100: 0.25rem;
  --size150: 0.375rem;
  --size200: 0.5rem;
  --size250: 0.625rem;
  --size300: 0.75rem;
  --size400: 1rem;
  --size500: 1.5rem;
  --size600: 2rem;
  --size700: 3rem;
  --size800: 4rem;
  --size900: 5rem;
}

/* General Styling */

body {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-body);
}

.container {
  --max-width: 1110px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

.fs-primary-heading {
  font-size: var(--fs-400);
}

.fs-secondary-heading {
  font-size: var(--fs-100);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* CSS - General */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

spam {
  color: var(--clr-primary-400);
}

section {
  padding-block: var(--size400);
}

p {
  font-weight: var(--fw-regular);
  color: var(--clr-grey);
  font-family: var(--ff-body);
}

button img {
  width: var(--size150);
}

button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: var(--size100);
  padding-block: var(--size200);
  padding-inline: var(--size300);
  border: 2px solid var(--clr-primary-400);
  border-radius: 100vw;
  color: var(--clr-light);
  background-color: var(--clr-primary-400);
}

button:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 2px solid var(--clr-light);
}

button.btn-line {
  background-color: transparent;
  border: 2px solid var(--clr-primary-400);
}

.btn-line:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-light);
}
