* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

h1, p, a {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: white;
}

.Navbar {
    display: inline-block;
    width: 100vh;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 150px;
    height: 55px;
}

.hero {
    display: inline-block;
    columns: auto;
}

.hero .row {
    width: 100vh;
    height: 100vh;
}

.col {
    width: 50vh;
    height: 100vh;
}
.col2 {
    width: 50vh;
    height: 100vh;
}